{% extends "templates/base.html "%}

{% block body_block %}
<h1 style="position:fixed; top:20%; left:50%; transform: translate(-50%,-50%); color: #374F38;font-size:3em;font-weight:700">OM Charitable Trust</h1>
<div style="position:fixed; top:55%; left:50%; transform: translate(-50%,-50%); color: #5D8A65;font-size:1em;">
  <i>OM CHARITABLE TRUST is an organization serving the sustainers of this
    Universe by their soul stirring sermons and songs which reverberate in the nether worlds
    whence the benign disposition to bestow the earth with resounding resources pour forth.
    Registered as a Public Charitable Trust it has reputed professionals as Trustees having respected standing in the society.</i>
  <br><br>
  <i> The Trust has been formed to encourage the fields of education having Indian heritage value. At present, the students learning the scriptures of yore are helped in sharpening their skills by conducting inter-school competitions wherein all southern states of India participate. More than 70 Vedic institutions have been empanelled with us.
    The aim of the competition is to encourage congeniality, confidence and zeal in the minds of blooming boys of Vedic learning. </i>
  <br><br>
  <i>The Trust is expanding its activity of conducting competitions on Scripture based Shastra studies from the year 2013.
    Honouring of Scholars, Organising lectures on Indian Traditional Disciplines, Educating the student community on the historical,
    cultural and social excellence of Indian heritage are the primary objectives of the Trust.
    The Trust extends financial support to educational and medical needs of the poor and needy. </i>
</div>
{% endblock %}
