{% extends "base.html" %}

{% block body_block %}
<div class="container" style="padding-top:20px">
  <div class="jumbotron">
    <h2>Please find below the list of Patashalas</h1>
      <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">City</th>
            </tr>
          </thead>
          <tbody>
              {% if patashalas %}
                {% for patashala in patashalas %}
                <tr>
                  <th scope="row"><a href="{{ patashala.id }}">{{ patashala.name }}</a></th>
                  <td>{{ patashala.city }} </td>
                </tr>
                {% endfor %}
              {%  else %}
                  <p>There are no Patashalas to be displayed !</p>
              {% endif %}
          </tbody>
      </table>
      {% if is_paginated %}
      <ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% else %}
          <li class="page-item disabled"><span>Previous</span></li>
        {% endif %}
        {% for i in paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page-item active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    <ul>
    {% endif %}
    <a href="{% url "IPVC10:user_home" %}" class="btn btn-primary">Back Home</a>
  </div>
  </div>
{% endblock %}
